RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^data/([0-9]{1,4})-([0-9]{1,4})\.png$ /index.php?height=$1&width=$2 [L]
RewriteRule ^data/([0-9]{1,4})-([0-9]{1,4})-([0-9a-zA-Z]{6})\.png$ /index.php?height=$1&width=$2&color=$3 [L]
RewriteRule ^data/([0-9]{1,4})-([0-9]{1,4})-([0-9a-zA-Z]{6})-([0-9a-zA-Z]{6})\.png$ /index.php?height=$1&width=$2&color=$3&txtcolor=$4 [L]
